asyncio==3.4.3
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
Flask==1.1.1
gitdb==4.0.2
GitPython==3.1.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pygal==2.4.0
requests==2.23.0
smmap==3.0.1
urllib3==1.25.8
Werkzeug==1.0.0
